<ion-modal-view>
  <ion-header-bar>
    <h1class="title">Profile</h1>
    <div class="buttons">
      <button class="button button-dark" ng-click="home.closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="item item-body">
      <div class="image">
        <img ng-src="{{ home.info.avatar}}">
      </div>
      <h2>{{ home.info.name}}</h2>
      <p>Age: {{ home.info.age }}</p>
      <p>Gender: {{ home.info.gender }}</p>
      <p>Location: {{ home.info.location }}</p>
      <p>{{ home.info.bio }}</p>
    </div>
  </ion-content>
</ion-modal-view>
